[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "geneHapR"]
	path = geneHapR
	url = https://github.com/zhangrenl/genehapr
	shallow = true
	registered = true
[submodule "lolliplot"]
	path = lolliplot
	url = https://github.com/cran/lolliplot
	shallow = true
	registered = true
